#mask {
	position:absolute;
	z-index:9000;  
	background-color:#000; 
	display:none;
}

#tabela  {
	width:100%;
	margin-top: -2%;
}

#tabela th{
	background-color: #191970;
	color: white;
}

#tabela td{
	background-color: #CDCDC1;
}

#boxes .window {
	position:absolute;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:20px;
	background: white;
}

/* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */
#boxes #dialog {
	width:375px;
	height:350px;
}

#boxes .input {
	width: 95%;
}
/* posiciona o link para fechar a janela */
.close {
	display:block; 
	text-align:right;
}  

