<html ng-app="Carros">
	<head>
        	<link href="css/bootstrap.min.css" rel="stylesheet">
                <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
                <link rel="stylesheet" href="css/index.css">
                <script type="text/javascript" src="js/jquery.js"></script>
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <script type="text/javascript" src="js/index.js"></script>
                <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>    
                <script type="text/javascript" src="js/controller.js"></script>
	</head>

	<body ng-controller="CarrosController" data-ng-init="getCarros()">
	       <nav class="navbar navbar-default" >
                        <div class="container-fluid">
                                <div class="navbar-header">
                                        <a class="navbar-brand" href="#" ng-bind="listaDeCarros"></a>
                                </div>
                                <ul class="nav navbar-nav">
                                        <li><a href="#dialog" id="adicionar" name="modal" ng-bind="adicionar"></a></li> 
                                </ul>
                        </div>
                </nav>
                
                <div id="boxes">
                <!-- Janela de incluir -->
                <div id="dialog" class="window">
                        <b ng-bind="incluir"></b>
                        <a href="#" id="fechar" class="close" ng-bind="fechar"></a>
                        <form id="form" role="form" action="POST">  
                                <br/>
                                <label for="carro" ng-bind="carro"> </label> 
                                <br/>
                                <input class="input" name="carro" id="carro" type="text"/> 
                                <br/>
                                <label for="ano" ng-bind="ano"> </label>
                                <br/>
                                <input class="input" name="ano" id="ano" type="text"/> 
                                <br/>
                                <label class="input" for="km" ng-bind="quilometragem"> </label>
                                <br/>
                                <input class="input" name="km" id="km" type="text"/> 
                                <br/>
                                <label for="valor" ng-bind="valor"> </label>
                                <br/>
                                <input class="input" name="valor" id="valor" type="text"/> 
                                <br/><br/>
                                <input class="input" type="button" value="Salvar" ng-click="adicionarFunction()"        /> 
                                <div id="errorMessage"></div>
                        </form>
                </div>
                <!-- Fica o fundo cinza -->
                <div id="mask"></div>

                <!-- Tabela de carros -->
                <table id="tabela">
                        <th ng-bind="id"></th>
                        <th ng-bind="carro"></th>
                        <th ng-bind="ano"></th>
                        <th ng-bind="quilometragem"></th>
                        <th ng-bind="valor"></th>
                        <th>Editar</th>
                        <th>Excluir</th> 
                </table>

	</body>
</html>	